.container {
    margin-top: 20px;
}

.card.horizontal .card-image img {
    width: 300px;
    height: 100%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
